/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.5;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    min-width: 320px;
    max-width: 1170px;
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #c3e8ecc7;
    text-shadow: 3px 3px 1px #010800, 0 0 1em #41de63;
}

h1 {
    font-size: 2em;
    color: #c3e8ecc7;
    text-shadow: 3px 3px 1px #010800, 0 0 1em #41de63;
}

p,
h1 {
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0 4px 2px rgba(200, 228, 174, 0.72)
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


.aos-item {
    display: block;
    margin: 0 auto;
    max-width: 70%;
    height: auto;
    padding: 20px;

    margin: 20vh auto 50vh auto;
}

.aos-item::before {
    content: '';
    position: relative;
    max-width: 70%;
    height: auto;
    line-height: 260px;
    text-align: center;
    color: #fff;
}

#js-canvas-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -111;

}

.shown {
    display: none;

}

.shown-second {
    display: block;
}





@media (max-width: 600px) {
    body {
        font-size: 16px;
    }

    h1,
    body {

        color: #000;
        text-shadow: none;
        font-weight: bold;

    }

    .aos-item {
        max-width: 100%;
    }

    canvas {
        touch-action: none;
        position: fixed;
    }

    .container {


        display: table;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        background-color: rgba(203, 241, 206, 0.25);



    }
}